openapi: 3.0.0
info:
  title: Brand Management API
  description: API для управления брендами в маркетплейсе (категория «Одежда»)
  version: 1.0.0
  contact:
    name: Dmitry Chebykin
    email: dmitrei.petrov@bk.ru
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.marketplace.com/v1
    description: Production server
  - url: https://api-stg.marketplace.com/v1
    description: Staging server

paths:
  /brands:
    get:
      summary: Получить список всех брендов
      description: Возвращает список всех брендов с возможностью фильтрации и сортировки
      operationId: getBrandsList
      parameters:
        - name: search
          in: query
          description: Поиск по названию бренда
          schema:
            type: string
        - name: sort
          in: query
          description: Сортировка (name_asc, name_desc)
          schema:
            type: string
            enum: [name_asc, name_desc]
        - name: limit
          in: query
          description: Количество записей на страницу
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          description: Смещение для пагинации
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Brand'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
        '400':
          description: Неверный запрос
        '500':
          description: Внутренняя ошибка сервера
      security:
        - ApiKeyAuth: []

    post:
      summary: Создать новый бренд
      description: Создаёт новый бренд с привязкой к коллекции товаров
      operationId: postBrand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBrandRequest'
      responses:
        '201':
          description: Бренд успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
        '400':
          description: Неверные данные
        '409':
          description: Бренд с таким названием уже существует
      security:
        - ApiKeyAuth: []

    options:
      summary: Получить доступные методы для брендов
      operationId: optionsBrand
      responses:
        '200':
          description: Список доступных методов
          headers:
            Allow:
              schema:
                type: string
                example: GET, POST, OPTIONS
      security:
        - ApiKeyAuth: []

  /brands/{brandId}:
    get:
      summary: Получить бренд по ID
      operationId: getBrandById
      parameters:
        - name: brandId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
        '404':
          description: Бренд не найден
      security:
        - ApiKeyAuth: []

    put:
      summary: Полностью обновить бренд
      operationId: putBrand
      parameters:
        - name: brandId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBrandRequest'
      responses:
        '200':
          description: Бренд обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
        '404':
          description: Бренд не найден
        '409':
          description: Название уже используется
      security:
        - ApiKeyAuth: []

    patch:
      summary: Частично обновить бренд
      operationId: patchBrand
      parameters:
        - name: brandId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBrandRequest'
      responses:
        '200':
          description: Бренд частично обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
        '404':
          description: Бренд не найден
        '409':
          description: Название уже используется
      security:
        - ApiKeyAuth: []

    delete:
      summary: Удалить бренд
      operationId: deleteBrand
      parameters:
        - name: brandId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Бренд успешно удалён
        '404':
          description: Бренд не найден
      security:
        - ApiKeyAuth: []

    head:
      summary: Получить только заголовки бренда
      operationId: headBrand
      parameters:
        - name: brandId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Заголовки получены
      security:
        - ApiKeyAuth: []

  /brands/{brandId}/products:
    get:
      summary: Получить товары бренда
      operationId: getBrandProducts
      parameters:
        - name: brandId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        '404':
          description: Бренд не найден
      security:
        - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    Brand:
      type: object
      properties:
        id:
          type: string
          example: "b-001"
        name:
          type: string
          example: "Nike"
        logo:
          type: string
          example: "nike-logo.png"
        collectionId:
          type: string
          example: "col-001"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateBrandRequest:
      type: object
      required:
        - name
        - logo
        - collectionId
      properties:
        name:
          type: string
          description: Название бренда (уникальное)
          example: "Nike"
        logo:
          type: string
          description: URL или путь к логотипу
          example: "nike-logo.png"
        collectionId:
          type: string
          description: ID коллекции товаров
          example: "col-001"

    UpdateBrandRequest:
      type: object
      properties:
        name:
          type: string
          description: Название бренда (уникальное)
        logo:
          type: string
        collectionId:
          type: string
          description: ID коллекции товаров

    Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: number
        brandId:
          type: string